* {
  box-sizing: border-box;
  text-align: center;
}

/*Comenzamos con la versión móvil*/
/*Hacemos el cuerpo de la web flexible*/
body {
  font-size: 16px;
  display: block;
  /*si hago display:flex; el header se mezcla con el main, cosa que no queremos, asi que lo he tenido que poner block*/
}

/*Estilo para todos los enlaces de la web*/
a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*ESTILO DE LA CABECERA*/
header {
  display: flex;
  justify-content: space-between;

}

nav#menu-principal {
  flex: 0;  /* Deja que este nav ocupe el espacio disponible */
}

nav#bloque-iconos {
  display: flex;               
  justify-content: flex-end;     
  align-items: center;         
}


/*Posiciono el menú de hamburguesa el primero*/
header>nav#menu-principal {
  order: 0;
  padding-left: 1rem;
}

header>picture#logo-cabecera {
  /* Para alinear el logo verticalmente */
  display: flex;
  align-items: center;
  order:1;
}


header>picture#logo-cabecera>img {
  /*Ancho fijo para la imagen de la cabecera. Debe ser 9 veces
   el tamñaño raiz*/
  width: 9rem;

}

/*Ocultar el input de la hamburguesa y el menú*/
header>nav#menu-principal>input#menu-hamburger,
header>nav#menu-principal>ul#menu {
  display: none;
}

/*Para que aparezca el icono de hamburguesa y debajo la palabra MENÚ*/
header>nav#menu-principal>label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*Estilo para el icono de hamburguesa*/
header>nav#menu-principal>label span {
  /* El tamaño debe ser 1.6 el tamaño raiz y en negrita. */
  font-weight: bold;
  font-size: 1.6rem;


}

/*Estilo para la palabra MENÚ debajo de la hamburguesa*/
header>nav#menu-principal>label>span:last-child {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 0.7rem;
}

header>nav#menu-principal>ul#menu {
  list-style: none;
}

header>nav#menu-principal>ul#menu li {
  padding: 0.3rem 0;
}

input#menu-hamburger:checked+#menu {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  background: white;
  padding: 2rem;
}

/*-- ESTO LO HE HECHO PARA PONER LOS ICONOS A LA DERECHA--*/
header > nav#bloque-iconos {
  order:2;     
}




header>nav#bloque-iconos>ul {
  padding-left: 20;
  display: flex;
}

header>nav#bloque-iconos>ul>li {
  list-style: none;
}

/*Para separar los dos iconos */
header>nav#bloque-iconos>ul>li:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:10px;
}


header>nav#bloque-iconos>ul>li>a>i {
  font-size: 1.5rem;
}

/*CONTENIDO PRINCIPAL*/
main {


}

main>article.item {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 48%;
  /* Ajusta el ancho para mostrar dos ítems por fila en la versión móvil */
}


main>article.item>* {
  margin: 0.2rem;
}

main>article.item>a {
  display: flex;
  align-items: flex-start;
  /*Coloco la imagen al principio*/
}


main>article.item>h3 {
  /*Coloco este elemento en su posición*/

  font-weight: normal;
  padding-bottom: 0.6rem;
}

main>article.item>p {
  display: inline-block;
  /*Coloco este elemento en su posicion */
}


main>article.item>p>span.precio-oferta {
  color: #04B486;
  padding-right: 0.3rem;
}

main>article.item>p>span.precio-sin-oferta {
  text-decoration: line-through;
}

main>article.item>a>picture>img {
  width: 100%;
  height: auto;
}


/*El pie en la versión de móvil está oculto*/
footer {
  display: none;
}

/*Para la versión de tablet, deben de aparecer 3 item´s por fila.
Incluye las etiquetas necesarias para que se muestre el diseño mostrado para tablet.*/
@media (min-width: 768px) {}


/*Para la versión de escritorio, deben de aparecer 5 item´s por fila.
Incluye las etiquetas necesarias para que se muestre el diseño mostrado para tablet.
El item "Chaleco Patch" debe de girar 360º y aumentar 2 veces su ancho y su alto, con una
transición de 2s*/

@media (min-width: 1024px) {}